.dark-medium-contrast {
  --md-sys-color-primary: rgb(152 233 248);
  --md-sys-color-surface-tint: rgb(130 211 226);
  --md-sys-color-on-primary: rgb(0 42 49);
  --md-sys-color-primary-container: rgb(73 156 170);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(199 225 231);
  --md-sys-color-on-secondary: rgb(16 41 45);
  --md-sys-color-secondary-container: rgb(124 149 154);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(210 219 255);
  --md-sys-color-on-tertiary: rgb(26 37 65);
  --md-sys-color-tertiary-container: rgb(134 144 178);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(14 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(213 222 224);
  --md-sys-color-outline: rgb(170 180 182);
  --md-sys-color-outline-variant: rgb(136 146 148);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(37 43 44);
  --md-sys-color-inverse-primary: rgb(0 80 90);
  --md-sys-color-primary-fixed: rgb(158 239 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 24);
  --md-sys-color-primary-fixed-dim: rgb(130 211 226);
  --md-sys-color-on-primary-fixed-variant: rgb(0 60 69);
  --md-sys-color-secondary-fixed: rgb(205 231 237);
  --md-sys-color-on-secondary-fixed: rgb(0 20 24);
  --md-sys-color-secondary-fixed-dim: rgb(177 203 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(34 58 62);
  --md-sys-color-tertiary-fixed: rgb(219 225 255);
  --md-sys-color-on-tertiary-fixed: rgb(4 15 44);
  --md-sys-color-tertiary-fixed-dim: rgb(187 197 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(43 53 83);
  --md-sys-color-surface-dim: rgb(14 20 22);
  --md-sys-color-surface-bright: rgb(63 69 71);
  --md-sys-color-surface-container-lowest: rgb(4 8 9);
  --md-sys-color-surface-container-low: rgb(25 31 32);
  --md-sys-color-surface-container: rgb(35 41 42);
  --md-sys-color-surface-container-high: rgb(46 52 53);
  --md-sys-color-surface-container-highest: rgb(57 63 64);
}
